<h3>Опыт работы</h3>

<div class="row">
    <div class="col col-2">
        <p>Февраль 2021 &mdash;</p>
        <p>по настоящее время</p>
    </div>
    <div class="col col-7">
        <div class="row">
            <p>GeekBrains</p>
        </div>
        <div class="row" style="font:800 bold">
            <p>Разработка на C#</p>
        </div>
        <div class="row">
            <p>Metrics</p>
            <a href="https://github.com/Photon74/Metrics">https://github.com/Photon74/Metrics</a>
            <p>Приложение для сбора метрик(процессор, ОЗУ и т.д.) с последующим сохранением их в базу данных. Состоит из двух модулей: 1. Для установки на машины в сети. 2. Для сбора данных с сетевых машин. При написании использовались технологии: ASP.NET Web API, Mapper, Dapper, MediatR, SQLite</p>
        </div>
    </div>
    <hr/>
</div>

<div class="row">
    <div class="col col-2">
        <p>Декабрь 2021 &mdash;</p>
        <p>апрель 2022</p>
    </div>
    <div class="col col-7">
        <div class="row">
            <p>BTLab</p>
        </div>
        <div class="row" style="font:800 bold">
            <p>Full Stack Developer (C#, JavaScript)</p>
        </div>
        <div class="row">
            <p>Расширение функциональности, разработка дополнительных модулей и устранение сбоев в работе СЭД DocsVision</p>
        </div>
    </div>
</div>


@code {

}
