<div class="row ">
    <div class="col">
        <div class="row" style="font: 26px bold">
            Колодинский Александр Валериевич
        </div>
        <div class="row">
            Дата рождения: 20.10.1974
        </div>
        <div class="row">
            Телефон: +7-918-244-55-47
        </div>
        <div class="row row-cols-auto">
            <div class="col">
                <img src="./img/free-icon-vk-2111828.png" title="ВКонтакте" width="30" />
            </div>
            <div class="col">
                <img src="./img/free-icon-telegram-3670070.png" title="ВКонтакте" width="30" />
            </div>
            <div class="col">
                <img src="./img/free-icon-whatsapp-4494494.png" title="ВКонтакте" width="30" />
            </div>
            <div class="col">
                <img src="./img/free-icon-instagram-1077042.png" title="ВКонтакте" width="30" />
            </div>
        </div>
    </div>

    <div class="col"> <!-- User photo -->
        <img src="./img/5789389895814665938.jpg" width="120px" />
    </div>

</div>
<hr/>



@code {

}
