<div class="row row-cols-auto">
    <div class="col">
        <h4>.NET backend developer (C#)</h4>

        <p>Специализация:</p>
        <p>Программист, разработчик</p>
        <br />

        <p>Занятость: полная занятость, стажировка</p>
        <p>График работы: полный день, гибкий график, удаленная работа</p>
    </div>
    <div class="col">
        <h4>100 000 руб. на руки</h4><hr/>
    </div>
</div>
<br/>


<Experience />

@code {

}
