@page "/"
@page "/index"

<PageTitle>Index</PageTitle>

<h1>Привет, друзья!</h1>

<b>Добро пожаловать на наш сайт для поиска работы.</b>
<br />
Поиск работы и сотрудников.<br />
Вакансии и резюме.<br />
Новости рынка труда.<br />
База резюме и вакансий.<br />
Биржа труда, поиск работы и подбор персонала.<br />
Лучшие предложения для соискателей и работодателей.<br />
Ежедневно на сайте публикуются свежие вакансии и резюме, 
обновляется информация по кадровым агентствам.<br />
<img src="../img/no_photo.jpg" height="200" width="200"
     alt="preview" />