@using MauiFront.Data;
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <CascadingValue Value="template" Name="MainTheme">
            <CascadingValue Value="otherTemplate" Name="SecondTheme">
                <article class="content px-4">
                    @Body
                </article>
            </CascadingValue>
        </CascadingValue>
    </main>
</div>

@code {
    ThemeTemplate template = new ThemeTemplate()
        {
            ButtonStyle = "btn-danger",
            TableStyle = "table table-dark table-striped"
        };

    ThemeTemplate otherTemplate = new ThemeTemplate()
        {
            ButtonStyle = "btn-success",
            TableStyle = "table table-dark table-striped"
        };
}
