@page "/login"


<form @onsubmit="onSubmit" @onsubmit:preventDefault="true">
      <h2>Вход / Регистрация</h2>
        <input
          className='input'
          type="email"
          @bind="user.Email"
          placeholder="Почта"
          autoComplete='off'
        />

        <input
          className='input'
          type="password"
          @bind="user.Password"
          placeholder="Пароль"
          autoComplete='off'
        />

      <button type="submit">
        Войти
      </button>
    </form >

    <p>@user.Email</p>
    <p>@user.Password</p>

@code {
    private User user = new();

    private void onSubmit()
    {
        
    }
}
